
/*nav*/
nav {
    width: 100%;
    max-width: 100%;
    height: 70px;
    background-color: grey;
    position: fixed;
    background-color: rgba(34, 34, 39,0.9);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 500;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav li {
    display: inline-block;
    margin: 15px;
}

nav div a {
    color: whitesmoke;
}

nav li a {
    color: whitesmoke;
    font-family: 'Bebas Neue', cursive;
    font-size: 21px;
    text-decoration: none;
}

nav li a:hover {    
    font-size: 25px;
    transition: all 0.2s;
}

.logotipo {
    font-family: 'Nosifer', cursive;
    text-decoration: none;

}

.logotipo a {
    font-family: 'Nosifer', cursive;
    text-decoration: none;
    font-size: 25px;
    
}


/*header*/

header {
    width: 100%;
    height: 100vh;
    background: url(../img/portada3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;

}

header .titulo {
    width: 50%;
    height: 20%;
    position: absolute;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    bottom: 25%;
    left: 25%;
    display: flex;
    justify-content: space-around;
    
}

.titulo .letra {
    height: 90%;
    width: 20%;
    min-width: 180px;
    text-align: center;
}

.titulo .letra h2 {
    margin: 0;
    font-size: 11rem;
    font-weight: bold;
    color: transparent;
    font-family: 'Anton',cursive;
    background-image: url(../img/titulo.jpg);
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
}

.imagen-logo{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    position: absolute;
    width: 30%;
    height: 80%;
    
}

.imagen-logo svg{
    width: 100%;
    height: 100%;
}

.imagen-logo path{

	fill: rgb(211, 207, 199);
}

/*barra*/

.barra {
    width: 550px;
    height: 200px;
    background-color: transparent;
    position: absolute;
    bottom: 5%;
    
}

.barra ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
}

.barra ul a {
    font-family: 'pirata one',cursive;
    text-decoration: none;
    font-size: 25px;
    color: whitesmoke;
}



/*titulo-mis trabajos*/

.titulo-trabajos {
    width:  100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 30, 36);
}

.titulo-trabajos div {
    width: 80%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-top: #ce8e52 5px solid;
    border-bottom: #ce8e52 5px solid;
}
.titulo-trabajos div h2 {
    font-family: 'Pirata One', cursive;
    font-size: 100px;
    box-sizing: border-box;
    margin: 0;
    color: whitesmoke;
}

/*secciones*/

.secciones {
    width: 100%;
    height: 100vh;
    background-color: rgb(33, 30, 36);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.productos {
    width: 500px;
    height: 77%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #ce8e52 5px solid;

}

.moldes {
    width: 500px;
    height: 77%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #ce8e52 5px solid;
}

/*caja padre*/

.padre {
    width: 90%;
    height: 90%;
    background-color: red;
    box-sizing: border-box;
}

.imagen1,.imagen2 {
    width: 100%;
    height: 50%;
    
}

.imagen1 {
    background: linear-gradient(to bottom,rgba(255,255,255,0),rgb(7, 6, 6)), url(../img/payday1.jpg);
}

.imagen2 {
    background: linear-gradient(to bottom,rgba(255,255,255,0),rgb(7, 6, 6)), url(../img/5.jpeg);
}

.imagen1,.imagen2 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.descripcion {
    width: 100%;
    height: 50%;
    background-color: black;
}

.productos_desc,.moldes_desc {
    width: 100%;
    height: 70%;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.texto {
    width: 90%;
    height: 90%;
}

.texto h2,p {
    text-align: center;
    font-family: 'bebas neue',cursive;
}

.texto p {
    font-size: 20px;
    font-family: 'Barlow Condensed', sans-serif;
}

.seccion_boton {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*botones*/

.boton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 65px;
    background: #141414;
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    margin-bottom: 35px;
    text-decoration: none;
    
}

.boton span {
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}

.boton.tres::after {
    content: "";
    width: 100%;
    height: 300px;
    background-image: linear-gradient(to bottom, #ff0844 0%, #ffb199 100%);
    position: absolute;
    z-index: 1;
    top: -300px;
    left: 0;
    transition: .4s ease-in-out all;
    border-radius: 0px 0px 300px 300px;
}

.boton.tres:hover::after {
    top: 0;
}


/*sobre mi*/

.sobre_mi {
    width: 100%;
    height: 100vh;
    background-image: url(../img/portada2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.caja_texto {
    position: absolute;
    width: 50%;
    height: 80%;
    background-color: rgba(44, 41, 41, 0.664);
    top: 10%;
    right: 10%;
}


/*mapa y formulario*/

.mapa_formulario {
    width: 100%;
    height: 100vh;
    background-image: url(../img/portada4.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapa {
    background-color: rgba(255, 0, 0, 0);
    width: 600px;
    height: 600px;
}

.mapa iframe{
    width: 100%;
    height: 100%;
}

.caja_formulario {
    background-color: transparent;
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

*{

    box-sizing: border-box;
}

.formulario {
    width: 100%;
    height: 100%;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 5;
    position: relative;
}


.formulario__titulo {
    text-align: center;
    margin-top: 0;
    color: rgba(0, 0, 0, 0.7);
    font-family: 'bebas neue',cursive;
}

.formulario__input, .formulario__label, .formulario__submit {
    display: block;
    width: 100%;
    font-size: 1.3em;
    font-family: 'Bebas Neue', cursive;
}

.formulario__input {
    padding: 15px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
}

.formulario__input:focus {
    outline: 1px solid rgba(0, 0, 0, 0.7);
}

.formulario__input:focus + .formulario__label {
    margin-top: -125px;
    transition: all 0.2s;
}

.formulario__label {
    padding-left: 15px;
    position: absolute;
    margin-top: -80px;
    z-index: -20;
    transition: all 0.2s;
    
}

.formulario__submit {
    background: rgba(0, 0, 0, 0.7);
    color: whitesmoke;
    padding: 10px 20px;
    cursor: pointer;
    border: none;

}

.fijar {
    margin-top: -125px;
}



.formulario__input::placeholder {
    color: transparent;

}

/*footer*/

footer {
    width: 100%;
    height: 300px;
    background-color: rgba(34, 34, 39,0.9);
    display: flex;
    justify-content: center;
}

.imagen-footer{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-footer,.footer-redes {
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-footer path {
    fill: whitesmoke;   

}

.imagen-footer svg {
    width: 100%;
    height: 100%;
}

.menu-footer ul li {
   margin-top: 1.5em;
   margin-bottom: 1.5em;
   list-style: none;
}

.footer-redes ul li {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    list-style: none;
}

.menu-footer a {
    color: whitesmoke;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Barlow Condensed';
}

.footer-redes a {
    color: whitesmoke;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Barlow Condensed';
}



/*diseño responsivo*/


@media all and (min-width: 800px){
    .barra-responsive{
        display: none;
    }

    .menu-responsive{
        display: none;
        
    }
    .menu-responsive a i{
        display: none;
    }

    .menu-responsive a {
        display: none;
    }

    
}

/*notebook*/

@media (max-width: 1400px) or (max-height: 850px){

    .imagen-logo{
        width: 50%;
        height: 80%;
    }

	.imagen-logo svg {
		width: 100%;
		height: 100%;
	}

    /*secciones*/

    .boton.tres {
        margin-bottom: 1px;
        height: 90%;
    }

    .mapa,.caja_formulario {
        width: 40%;
        height: 80%;
    }


}



/*movil*/

@media all and (max-width: 800px){

    /*nav*/

    .menu {
        display: none;
    }

    /*header*/

	.imagen-logo {
		height: 90%;
		width: 100%;
	}

	.imagen-logo svg {
		width: 100%;
		height: 100%;
	}

    header .titulo {
        display: none;
    }

    /*barra*/

    .barra {
        display: none;
    }

    .barra-responsive {
    width: 80%;
    height: 100px;
    background-color: transparent;
    position: absolute;
    bottom: 5%;
    
    }

    .barra-responsive ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    }

    .barra-responsive ul a {
    font-family: 'pirata one',cursive;
    text-decoration: none;
    font-size: 35px;
    color: whitesmoke;
    }

    /*titulo*/

    .titulo-trabajos div h2 {
    font-family: 'Pirata One', cursive;
    font-size: 30px;
    box-sizing: border-box;
    margin: 0;
    color: whitesmoke;
    }

    /*secciones*/

    .secciones {
        height: 150vh;
        flex-direction: column;
        justify-content: space-between;
    }

    .productos,.moldes {
        width: 80%;
        height: 45%;
    }

    .padre {
        width: 90%;
        height: 90%;
    }

    .texto p {
        font-family: 'Barlow Condensed', sans-serif;
        font-size: .9125rem;
    }

    .boton.tres {
        margin-bottom: 2%;
        height: 90%;
    }

    /*sobre mi*/

    .sobre_mi {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .caja_texto {

        width: 80%;
        height: 80%;
    }

    /*mapa y formulario*/

    .mapa_formulario {
        flex-direction: column;
        justify-content: space-around;
        height: 150vh;
    }

    .mapa {
        height: 45%;
        width: 90%;

    }

    .formulario {
        position: relative;
    }

    .caja_formulario{
        height: 50%;
        width: 90%;
        position: relative;
    }

    .formulario__label {
        display: none;
        
    }

    .formulario__input,.formulario__submit {
    display: block;
    width: 100%;
    height: 10%;
    }

    .formulario__input::placeholder {
        color: black;
    }

    /*footer*/

    .imagen-footer{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .menu-footer,.footer-redes {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    }


}

@media all and (max-width: 400px){

    /*footer*/

    .imagen-footer{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .menu-footer,.footer-redes {
    height: 100%;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    }

}


/*productos y moldes*/

/*MOLDES*/


.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;
}

h1{
    text-align: center;
}

.molde{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 20px;
    border-radius: 5px;
  background: linear-gradient(to left,rgba(255,255,255,0),rgb(7, 6, 6));

}

img{
    text-align: center;
    align-items: center;
    transition: 300ms;
    object-fit: cover;
  border-radius: 5%; 

}

img:hover{
    transform: scale(1.10);
}



.descripcion2{
    height: 100%;
    display: flex;/*se queda uno al lado del otro*/
    flex-direction: column;
    justify-content: space-evenly;
    color: black;
    text-align: center;

}
.descripcion1{

    background-color: rgba(255, 255, 0, 0.726);
/*     border: #ce8e52 5px solid; */
    border-radius: 15px;
}


/*producto*/

.mis_trabajos_pagina {
    background-image: url(../img/fondo_trabajos.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

.mascaras {
    width: 90%;
    height: 90%;
    min-height: 850px;
    background-color: rgba(44, 41, 41, 0.664);
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.masetas {
    width: 90%;
    height: 90%;
    min-height: 850px;
    background-color: rgba(44, 41, 41, 0.664);
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contenedor2 {
    width: 90%;
    max-width: 1200px;
    margin: 0;
    padding: 40px 0;
    min-height: 650px;

    /* Flexbox */
    /* display: flex;
    gap: 20px; */

    /* Grid */
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}

.mascaras h1{
    font-family: 'pirata one',curisve;
    font-size: 3em;
    border-top: 2px solid sandybrown;
    border-bottom: 2px solid sandybrown;

}

.masetas h1{
    font-family: 'pirata one',curisve;
    font-size: 3em;
    border-top: 2px solid sandybrown;
    border-bottom: 2px solid sandybrown;

}

.contenedor2 .footer {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    /*padding: 40px 0;*/

    /* Flexbox */
    /* display: flex;
    gap: 20px; */

    /* Grid */
    display: grid;
    grid-template-columns: none;
    grid-column: 1 / 4;
/*     grid-area: footer;
    grid-row-start: footer;
    grid-column-start: footer;
    grid-row-end: footer;
    grid-column-end: footer; */
    /*gap: 20px;*/
}

/* .titulo {
    font-size: 24px;
    padding: 20px 0;
} */

.cont-fotos {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    border-radius: 10px;
    min-height: 200px;
    font-weight: bold;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
}

.card .textos {
    height: 100%;
    display: flex;/*se queda uno al lado del otro*/
    flex-direction: column;
    justify-content: space-between;
}

.textos:hover{

    display:none;
}

.banner {
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.banner ul {
    list-style: none;
}

.banner ul li {
    margin: 15px;
    font-weight: bold;
}

.banner .boton {
    background: #FFD600;
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 100px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}